<div class="container">
  <h1><%= @list.name %></h1>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <%= "#{bookmark.movie.title} - Rating: #{bookmark.movie.rating}/10" %>
        <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete}, class: 'btn' do %>
          <i class="fa-solid fa-trash trash"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add Movie to list", new_list_bookmark_path(@list), class: 'btn btn-primary' %>

  <%= link_to "Back", lists_path, class: 'btn btn-secondary' %>
</div>
